AMBER_API_KEY=psk_
AMBER_SITE_ID=
EXPORT_COST_THRESHOLD_C=0.0

ALPHAESS_OPENAPI_ENABLED=1
ALPHAESS_APP_ID="alpha"
ALPHAESS_APP_SECRET=""
ALPHAESS_SYS_SN=2
ALPHAESS_UNIT_INDEX=2

RUNTIME_PROFILE=mt
GOODWE_HOST="192.168.1.10"
GOODWE_EXPORT_LIMIT_MODE=active_pct
GOODWE_ACTIVE_PCT_REG=256

ALPHAESS_PBAT_POSITIVE_IS_CHARGE=1   # set to 0 if reversed
ALPHAESS_PGRID_POSITIVE_IS_IMPORT=1  # set to 0 if reversed

# Treat |pBat| below this as 'idle' (noise floor)
ALPHAESS_PBAT_IDLE_THRESHOLD_W=50

# If SOC is below this, leave PV headroom for the battery to start charging when export is costly.
# Set ALPHAESS_AUTO_CHARGE_W=0 to disable.
ALPHAESS_AUTO_CHARGE_BELOW_SOC_PCT=90
ALPHAESS_AUTO_CHARGE_W=1500
ALPHAESS_AUTO_CHARGE_MAX_W=3000

SLEEP_SECONDS=2
ALPHAESS_MIN_POLL_INTERVAL_SEC=15


